<!DOCTYPE html>
<html lang="en">
  <style>
    * {
      margin: 10;
      padding: 10;
    }
    .imgbox {
      display: grid;
      height: 100%;
    }
    .center-fit {
      max-width: 100%;
      max-height: 100vh;
      margin: auto;
    }
  </style>>
  <body style="background-color: rgb(0, 0, 0);">
<title>Kaggle - Solution</title>
<h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:rgb(255, 255, 255);" align=center>Mercedes-Benz Greener Manufacturing</h1>
<img src="https://storage.googleapis.com/kaggle-competitions/kaggle/6565/logos/header.png" class="center-fit">
<p style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:rgb(255, 255, 255);" align=center>Upload a CSV file that you want to predict the bench time for.</p>
<form style="color:rgb(255, 255, 255);" align=center action="/" method=post enctype=multipart/form-data>
  <input align=center type="file" name=file>
  <input align=center type="submit" value=Upload>
</form>
<p style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:rgb(255, 255, 255);" align=center>{{ message }}</p>
<p style="font-family:Verdana, Geneva, Tahoma, sans-serif; color:rgb(0, 255, 234);"  align=center><a href="https://google.com" target="blank">Read the blog</a></p>
  </body>